 @import "style-inicial.css";

 body {
     max-width: 100%;
     color: white;
     margin: 0;
     background-image: url(imagens/background2.jpeg);
     background-color: rgba(30, 96, 118, 0.5);
     background-repeat: no-repeat;
     background-size: cover;
     font-family: "lemon";
 }

 @font-face {
     font-family: 'lemon';
     src: url('LEMONMILK-Regular.otf');
 }

 .logo-container {

     text-align: center;
     background-color: #184d5e;
     width: 100%;
     box-shadow: 0 2px 5px black;
 }

 .logo-container img {
     width: 300px;
 }

 .form-container {
     text-transform: uppercase;
     max-width: 35%;
     margin: 15px auto;
     padding: 15px;
     background-color: #f0f0f0;
     border-radius: 8px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     font-size: 30px;
     padding: 30px;
     border-radius: 8px;
     border: 1px solid rgba(255, 255, 255, 0.316);
     box-shadow: 0 2px 5px black;
     text-align: center;
     line-height: 50px;
     background-color: transparent;
     backdrop-filter: blur(7px);

 }

 label {
     padding: 0;
     text-align: start;
     color: white;
     display: block;
 }

 .dropdown select,
 input {
     color: white;
     text-transform: uppercase;
     background-color: #184d5e;
     width: 100%;
     padding: 8px;
     margin-bottom: 16px;
     border: 1px solid #ccc;
     border-radius: 4px;
 }

 .button-proximo {
     font-size: 20px;
 }

 .button-proximo button {
     color: white;
     background-color: #184c5e;
     text-transform: uppercase;
     line-height: 50px;
     margin-top: 20px;
     font-size: 20px;
     padding: 0 20px;
     box-shadow: 0 0px 5px black;
     border-radius: 8px;
     transition: transform 0.3s ease;
 }

 .button-proximo button:hover {
     background-color: #1e6076;
     transform: scale(1.1);
 }

 .button-proximo:active {
     transform: scale(0.9);
     transition: transform 0.05s ease;
 }

 #nomeAvaliador::placeholder {
     color: white;
 }

 #dataAvaliacao::placeholder {
     color: white;
 }


 button#returnButton {
     position: fixed;
     bottom: 10px;
     left: 10px;
     background-color: transparent;
     border: none;
     padding: 10px;
     cursor: pointer;
     transition: transform 0.3s ease
 }

 button#returnButton:hover {
     transform: scale(1.1);
 }

 button#returnButton img {
     width: 100px;
 }

 button#returnButton:active {
     transform: scale(0.9);
     transition: transform 0.05s ease;
 }

 @media screen and (max-width: 1020px) {
     .form-container {
         font-size: 40px;
         line-height: 35px;
         max-width: 80%;
         padding: 20px;
         margin-top: 10vw;
     }

     .logo-container img {
         width: 400px;
     }

     body {
         background-size: 400%;
     }

     #returnButton {
         display: none;
     }

     form {
         padding: 25px;
         line-height: 95px;
     }

     input {
         font-size: 40px;
     }

     select {
         font-size: 40px;
     }

     .button-proximo button {
         font-size: 50px;
         padding: 50px;
         margin-top: 50px;
     }
 }